<div class="col-lg-6 col-lg-offset-3 text-center">

    <div class=" card-box">
      <div class="card">
        <div class="card-image">
          <img height="35%" width="35%" src="https://image.flaticon.com/icons/png/512/8/8800.png">
          <p><%= @user_name %></p>
          <p style="color:#6E6E6E;"><small>@<%= @screen_name%></small></p>
        </div>

        <div class="card-content">
         <p class="content-text"><%= @tweet_text %></p>
         <p class="small-user-text" ><small><%= @created_at %></small></p>
       </div>

       <div class="card-action">
        <p class="tweetP"><b>Followers: </b> <%= @followers %></p>
        <p class="tweetP"><b>Retweets: </b> <%= @retweets %></p>
        <p class="tweetP"><b>Favourites: </b> <%= @favourites %></p>
      </div>
    </div>
  </div>

</div>